html, body, #root, .App {
    width: 100%;
    letter-spacing: 0.1rem;
    background-color: black;
}

.text-large {
    font-size: 4rem;
}

.Header {
    height: 6em;
}

.Footer {
    height: 5em;
}

.divider {
    display: block;
    width: 1px;
    height: 100%;
    margin-inline: 3px;
    background-color: #474747;
    transform: skew(-20deg);
}

.Title>h1 {
    font-size: 2.75em;
}

.Title>h1:first-child {
    font-size: 3.5em;
}

.NavbarSection {
    height: 338px;
}

img.success {
    filter: hue-rotate(280deg);
}

img.primary {
    filter: hue-rotate(160deg);
}

img.danger {
    filter: hue-rotate(130deg) saturate(4) brightness(.8);
}

img.warning {
    filter: hue-rotate(350deg) saturate(5) brightness(.8);
}

img.secondary {
    filter: hue-rotate(-20deg) brightness(.9);
}

.NavbarSection>div {
    width: 250px;
    height: 70px;
    background-color: #474747;
    margin-top: 210px;
}

.NavbarSection:nth-child(2n)>div {
    margin-top: 60px;
}